@import url(../ophthalmology/section-directions.css);

.aesthetic-directions__grid a {
    background: #F8F7F3;
    border: 1px solid #D2D2D2;
}

@media screen and (max-width:768px) {
    .ophthalmology-directions__item {
        height: 45px;
    }
}