@import url('../style.css');

@import url(../ophthalmology/section-doctors.css);

@import url('section-reviews.css');
@import url('section-hero.css');
@import url('section-feature.css');
@import url('section-benefits.css');
@import url('section-cta.css');
@import url('section-clinics.css');
@import url('section-inpatient.css');
@import url('section-offers.css');
@import url('section-questions.css');
@import url('section-directions.css');
@import url('section-technologies.css');
@import url('section-results.css');

:root {
    --section-padding: 70px 0;
}

.btn {
    height: 39px;
    padding: 9px 22px;
}

.bg-silver {
    background: #F8F7F3;
}

.section-white {
    background: #fff;
}

.programs-section {
    padding: 70px 0;
}

.programs-section .section-title {
    text-align: center;
}

.map-container {
    border-radius: 0;
}

.aesthetic-breadcrumbs a {
    color: #9D9D9D;
    font-size: 14px;
}

.aesthetic-breadcrumbs span {
    font-size: 14px;
}

.programs-grid {
    grid-template-columns: repeat(5, 1fr);
}

@media screen and (max-width:1300px) {
    .programs-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width:991px) {
    .installment-right {
        padding-top: 20px;
    }

    .aesthetic-feature-2__btn {
        margin-top: 20px;
    }

    .programs-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:768px) {
    :root {
        --section-padding: 50px 0;
    }

    .programs-section .section-title {
        text-align: left;
    }

    .aesthetic-programs-grid {
        margin: unset;
    }

    .installment-right {
        padding-top: 0;
    }

    .aesthetic-installment>div>div {
        flex-direction: column-reverse;
        gap: 6px;
    }

    .reviews-section .section-title {
        margin-bottom: 15px;
    }

    .programs-arrows .arrow-btn {
        min-width: 32px;
        min-height: 32px;
    }

    .programs-section {
        padding: 50px 0;
    }

    .aesthetic-directions__subtitle {
        font-size: 14px;
    }

    .ophthalmology-directions__item:nth-child(8) {
        display: none;
    }

    .plus-type_top {
        padding: 0;
        height: 42px;
    }

    .plus-type {
        max-height: 42px;
    }

    .aesthetic-hero-btn,
    .ophthalmology-doctors__btn,
    .offers-section .section-action .btn,
    .reviews-section .section-actions .btn {
        height: 32px;
    }

    .ophthalmology-hero__logo img {
        width: 134px;
        height: 35px;
    }
}