@import url('../../css/base.css');
@import url('../../css/components.css');
@import url('../../css/header.css');
@import url('../../css/footer.css');

@import url('../breadcrumbs.css');
@import url('../btn.css');
@import url('../title.css');
@import url('../paragraph.css');
@import url('../swiper.css');
@import url('../w-upper-block.css');

@import url('../foot-surgery/w-intro.css');
@import url('../foot-surgery/w-about.css');
@import url('../hospital/w-vantage.css');
@import url('../w-types.css');
@import url('../news/w-doctors.css');
@import url('../w-sentence.css');
@import url('../w-reviews.css');
@import url('../hospital/w-chambers.css');
@import url('../hospital/w-contacts.css');


/* Breadcrumbs */

.w-coloproctology .w-breadcrumbs-nav {
  line-height: 1.2;
  padding: 40px 0 13px;
}

/* Intro*/

.w-intro--coloproctology .w-intro-box {
  max-width: 795px;
}

.w-intro--coloproctology .w-tags {
  max-width: 700px;width: 100%;
}

/* Vantage white */

.w-coloproctology .w-vantage {
  overflow: hidden;
}

.w-coloproctology-vantage-1 .w-vantage-btn .w-btn {
  max-width: 256px;width: 100%;
}

.w-coloproctology-vantage-2 {
  padding-top: 70px;
}

/* Types */

.w-coloproctology .w-types .w-title {
  margin-bottom: 25px;
}

/* About */

.w-coloproctology .w-about--2 .w-about-types .w-tags li:first-child {
  width: 100%;
  display: flex;
}

/* Chambers */

.w-coloproctology .w-chambers .w-chambers-text {
  max-width: 1100px;
}

/* =================================== */
/*                Media                */
/* =================================== */

@media (max-width: 1200px) {
  .w-intro--coloproctology .w-intro-bg {
    background-position: 0 100% !important;
  }
  .w-intro--coloproctology .w-intro-box {
    max-width: 680px;
  }
}

@media (max-width: 767px) {
  .w-coloproctology .w-breadcrumbs-nav {
    padding: 12px 0;
  }
  .w-intro--coloproctology .w-intro-bg {
    background: url(../../img-pages/coloproctology-intro-mob.jpg) center 70% / cover no-repeat !important;
  }
  .w-coloproctology-vantage-1 .w-vantage-btn .w-btn {
    max-width: 183px;
  }
  .w-coloproctology .w-types .w-title {
    margin-bottom: 20px;
  }
  .w-coloproctology .w-about--2 .w-about-img {
    margin-top: 20px;
  }
  .w-coloproctology .w-about--2 .w-tags li span,
  .w-coloproctology .w-about--2 .w-tags li a {
    padding: 7px 9px;
  }
  .w-coloproctology-vantage-2 {
    padding-top: 50px;
  }
}

/* MIN - width */

@media (min-width: 479px) {
  .w-coloproctology .w-about--2 .w-tags li br {
    display: none;
  }
}

@media (min-width: 768px) {
  .w-coloproctology-vantage-2 .w-vantage-sl .swiper-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .w-coloproctology-vantage-2 .w-vantage-sl .swiper-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .w-coloproctology-vantage-2 .w-vantage-sl .swiper-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}